# Python cache and compiled files
__pycache__/
*.py[cod]

# Database
db.sqlite3

# Environment variables
.env

# Logs
*.log

# Editor/temp files
*.pot
*.swp
.DS_Store

# Python packaging
*.egg-info/
*.egg

# Virtual environment
venv/
.venv/

cert.crt
cert.key
*.pem
